body {
    background-color: white;
    /* Cinza clarinho */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    background-color: white;
    /* Mesma cor do corpo */
    padding: 20px;
}

header img {
    display: block;
    margin: 0 auto;
    max-width: 40%;
    height: auto;
}

p.custom-style {
    margin-top: 10px;
    font-weight: 300;
    letter-spacing: -1px;
    font-size: 24px;
    margin: 0;
    /* text-transform: uppercase; */
    color: #0084a4;
}


.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}


.container {
    width: 50%;
    max-width: 600px;
    margin: 50px auto;
    background-color: #FFFFFF;
    / *background-color: #f0f0f0;  */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.container+.container {
    margin-top: 50px;
}

p {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#openLinkButton {
    display: inline-block;
    padding: 7px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #4eba91;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#openLinkButtonConexa {
    display: inline-block;
    padding: 7px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #4eba91;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
